<body ng-app="stockDogApp">
<div ng-include="'views/header3.html'" class="container-fluid"></div>
<div class="container">

<div class="row" style="background-color:#00AEEF; margin-top:10px;">

  <div class="col-md-12">
    <h2 style="font-weight:900; color:white;">CEB Log-in</h2>
  </div>

</div>
<br>
<div class="row">
  <div class="col-md-10">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a turpis ac est porta imperdiet.</p>
  </div>
  <div class="col-md-2 pull-right removePaddingRight">
    <a class="btn btn-md cebBTN" href="#/main">Go to Store</a>
  </div>
</div>
<br>
<div class="row" style="padding:30px; background-color:#E4DFDA;">

  <div class="col-md-4">
    <h4 style="display:inline-block; color:#0A3F6B; font-weight:900 !important; border-bottom:9px solid #0A3F6B; padding-bottom:5px;">Talent Management</h4>

    <p><a adhocenable="false" href="/content/cebglobal/us/en/talent-management/talent-assessment/login.html?referrerTitle=Member%20Login">Talent Assessment platforms</a></p>
    <p><a adhocenable="false" href="https://www.cebtalentcentral.com/s3/login?app=MTM">Metrics that Matter™</a></p>
    <p><a href="https://login.talentneuron.com/SignIn/Login.aspx?ReturnUrl=%2f">CEB TalentNeuron</a></p>
  </div>

  <div class="col-md-4">
    <h4 style="display:inline-block; color:#0A3F6B; font-weight:900 !important; border-bottom:9px solid #0A3F6B; padding-bottom:5px;">Compliance & Legal</h4>
    <p><a href="https://www.cebglobal.com/member/compliance-ethics/home.html">CEB Compliance &amp; Ethics Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/data-privacy/home.html">CEB Data Privacy Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/legal-compliance-midsized/home.html">CEB Compliance &amp; Legal Leadership Council for Midsized Companies</a></p>
    <p><a href="https://www.cebglobal.com/member/legal/home.html">CEB Leadership Council for Legal Executives</a></p>

  </div>

  <div class="col-md-4">
    <h4 style="display:inline-block; color:#0A3F6B; font-weight:900 !important; border-bottom:9px solid #0A3F6B; padding-bottom:5px;">Finance</h4>
    <p><a href="https://www.cebglobal.com/member/accounting-reporting/home.html">CEB Accounting &amp; Reporting Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/finance-leadership/home.html">CEB Finance Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/finance-midsized/home.html">CEB Finance Leadership Council for Midsized Companies</a></p>
    <p><a href="https://www.cebglobal.com/member/financial-planning-analysis/home.html">CEB Financial Planning &amp; Analysis Leadership Council</a></p>
    <p><a href="http://www.ceoforum.com.au/">CEB International CFO Forum</a></p>
    <p><a href="https://www.cebglobal.com/member/investor-relations/home.html">CEB Investor Relations Leadership Council</a></p>
    <p><a href="https://sharedservices.cebglobal.com/">CEB Shared Services Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/tax/home.html">CEB Tax Leadership Council</a></p>

  </div>

</div>
<br>
<div class="row" style="padding:30px; background-color:#E4DFDA;">

  <div class="col-md-4">
    <h4 style="display:inline-block; color:#0A3F6B; font-weight:900 !important; border-bottom:9px solid #0A3F6B; padding-bottom:5px;">Financial Services</h4>
    <p><a href="https://www.cebglobal.com/member/commercial-banking/home.html">CEB Commercial Banking Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/fs-operations/home.html">CEB FS Operations Leadership Council</a></p>
    <p><a adhocenable="false" href="https://www.cebglobal.com/member/commercial-banking-tech-accelerator/home.html">CEB Ignition™ Commercial Banking Technology Accelerator&nbsp;</a></p>
    <p><a adhocenable="false" href="https://www.cebglobal.com/member/retail-banking-tech-accelerator/home.html">CEB Ignition™ Retail Banking Technology Accelerator</a></p>
    <p><a adhocenable="false" href="https://www.cebglobal.com/member/wealth-management-tech-accelerator/home.html">CEB Ignition™ Wealth Management Technology Accelerator</a>&nbsp;</p>
    <p><a href="https://www.cebglobal.com/member/retail-banking/home.html">CEB Retail Banking Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/retirement/home.html">CEB Retirement Services Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/capital-markets-towergroup/home.html">CEB TowerGroup Capital Markets</a></p>
    <p><a href="https://www.cebglobal.com/member/commercial-banking-towergroup/home.html">CEB TowerGroup Commercial Banking</a></p>
    <p><a href="https://www.cebglobal.com/member/insurance-towergroup/home.html">CEB TowerGroup Insurance</a></p>
    <p><a href="https://www.cebglobal.com/member/retail-banking-towergroup/home.html">CEB TowerGroup Retail Banking</a></p>
    <p><a href="https://www.cebglobal.com/member/wealth-towergroup/home.html">CEB TowerGroup Wealth Management</a></p>
    <p><a href="https://www.cebglobal.com/member/wealth-management/home.html">CEB Wealth Management Leadership Council</a></p>

  </div>

  <div class="col-md-4">
    <h4 style="display:inline-block; color:#0A3F6B; font-weight:900 !important; border-bottom:9px solid #0A3F6B; padding-bottom:5px;">Government</h4>
    <p><a href="https://www.cebglobal.com/member/government-finance/home.html">CEB Government Finance Leadership Council &nbsp;</a></p>

  </div>

  <div class="col-md-4">
    <h4 style="display:inline-block; color:#0A3F6B; font-weight:900 !important; border-bottom:9px solid #0A3F6B; padding-bottom:5px;">Human Resources</h4>
    <p><a href="https://www.cebglobal.com/member/asia-hr/home.html" adhocenable="false">CEB Asia HR Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/corporate-leadership-council/home.html" adhocenable="false">CEB Corporate Leadership Council™</a></p>
    <p><a adhocenable="false" href="https://www.cebglobal.com/member/diversity-inclusion/home.html">CEB &#8203;Diversity &amp; Inclusion Leadership Council</a></p>
    <p><a adhocenable="false" href="https://www.cebglobal.com/member/hr-midsized/home.html">CEB HR Leadership Council™ for Midsized Companies</a></p>
    <p><a href="http://www.ceoforum.com.au/">CEB International HRD Forum</a></p>
    <p><a href="https://www.cebglobal.com/member/learning-development/home.html">CEB Learning &amp; Development Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/recruiting/home.html">CEB Recruiting Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/total-rewards/home.html">CEB Total Rewards Leadership Council</a></p>
    <p><a adhocenable="false" href="https://www.cebglobal.com/member/manager-excellence-resource-center/home.html">Manager and Employee Development Toolbox</a></p>

  </div>

</div>
<br>
<div class="row" style="padding:30px; background-color:#E4DFDA;">

  <div class="col-md-4">
    <h4 style="display:inline-block; color:#0A3F6B; font-weight:900 !important; border-bottom:9px solid #0A3F6B; padding-bottom:5px;">Information Technology</h4>
    <p><a href="https://www.cebglobal.com/member/applications/home.html">CEB Applications Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/it-business-analyst-development-accelerator/home.html">CEB BA Development Accelerator</a></p>
    <p><a href="https://www.cebglobal.com/member/cio/home.html">CEB CIO Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/enterprise-architecture/home.html">CEB Enterprise Architecture Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/information-risk/home.html">CEB Information Risk Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/infrastructure/home.html">CEB Infrastructure Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/it-midsized/home.html">CEB IT Leadership Council for Midsized Companies</a></p>
    <p><a href="https://www.cebglobal.com/member/it-roadmap-builder/home.html">CEB IT Roadmap Builder</a></p>
    <p><a href="https://www.cebglobal.com/member/it-talent-assessment/home.html">CEB IT Talent Assessment</a></p>
    <p><a href="https://www.cebglobal.com/member/it-project-management-development/home.html">CEB PM Development Accelerator</a></p>
    <p><a href="https://www.cebglobal.com/member/pmo/home.html">CEB PMO Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/it-risk-bootcamp/home.html">CEB Risk Management Bootcamp</a></p>
    <p><a href="https://www.cebglobal.com/member/it-service-bootcamp/home.html">CEB Service Management Bootcamp &nbsp;</a></p>

  </div>

  <div class="col-md-4">
    <h4 style="display:inline-block; color:#0A3F6B; font-weight:900 !important; border-bottom:9px solid #0A3F6B; padding-bottom:5px;">Innovation & Strategy</h4>
    <p><a href="http://www.ceoforum.com.au/">CEB International CEO Forum</a></p>
    <p><a href="https://www.cebglobal.com/member/quality/home.html">CEB Quality Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/research-development/home.html">CEB Research &amp; Development Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/strategy/home.html">CEB Strategy Leadership Council</a></p>

  </div>

  <div class="col-md-4">
    <h4 style="display:inline-block; color:#0A3F6B; font-weight:900 !important; border-bottom:9px solid #0A3F6B; padding-bottom:5px;">Marketing & Communications</h4>
    <p><a href="https://www.cebglobal.com/member/communications/home.html">CEB Communications Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/customer-experience/home.html" adhocenable="false">CEB Customer Experience Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/market-insights/home.html">CEB Market Insights Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/marketing-excellence/home.html">CEB Marketing Excellence Survey</a></p>
    <p><a href="https://www.cebglobal.com/member/marketing/home.html">CEB Marketing Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/marketing-midsized/home.html">CEB Marketing Leadership Council for Midsized Companies</a></p>
    <p><a href="https://www.cebglobal.com/member/marketing-to-small-business/home.html">CEB Marketing to Small Business Leadership Council</a></p>
    <p><a href="https://iconoculture.cebglobal.com/SMART/Login.aspx?ReturnUrl=%2fIconoIQ">CEB Iconoculture Consumer Insights</a></p>

  </div>

</div>
<br>
<div class="row" style="padding:30px; background-color:#E4DFDA;">

  <div class="col-md-4">
    <h4 style="display:inline-block; color:#0A3F6B; font-weight:900 !important; border-bottom:9px solid #0A3F6B; padding-bottom:5px;">Procurement & Operations</h4>
    <p><a href="https://www.cebglobal.com/member/props-midsized/home.html">CEB Procurement &amp; Operations Leadership Council for Midsized Companies</a></p>
    <p><a href="https://www.cebglobal.com/member/procurement/home.html">CEB Procurement Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/real-estate/home.html">CEB Real Estate Leadership Council</a></p>

  </div>

  <div class="col-md-4">
    <h4 style="display:inline-block; color:#0A3F6B; font-weight:900 !important; border-bottom:9px solid #0A3F6B; padding-bottom:5px;">Risk & Audit</h4>
    <p><a href="https://www.cebglobal.com/member/audit/home.html">CEB Audit Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/audit-reference-center/home.html">CEB Audit Reference Center</a></p>
    <p><a href="https://www.cebglobal.com/member/risk-management/home.html">CEB Risk Management Leadership Council</a></p>

  </div>

  <div class="col-md-4">
    <h4 style="display:inline-block; color:#0A3F6B; font-weight:900 !important; border-bottom:9px solid #0A3F6B; padding-bottom:5px;">Sales & Service</h4>
    <p><a href="https://www.cebglobal.com/member/customer-contact/home.html">CEB Customer Contact Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/effortless-experience-dashboard/home.html">CEB Effortless Experience™ Dashboard</a></p>
    <p><a href="https://www.cebglobal.com/member/sales/home.html">CEB Sales Leadership Council</a></p>
    <p><a href="https://www.cebglobal.com/member/sales-midsized/home.html">CEB Sales Leadership Council for Midsized Companies</a></p>

  </div>

</div>

</div>
</body>
