

<div class="header container-fluid">

    <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <img src="images/ceb_logo.png">
              </div>

              <div class="col-md-6">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search" style="color:#00AEEF;"></span>
                        </button>
                    </span>
                </div>
              </div>






              <div class="col-md-3 removePadding">
                <div class="">
                <div class="pull-right">
                <img src="images/user_login.png">
                &nbsp;
                <label style="color:#0a73bd; font-weight:normal;">Welcome <b>John Doe</b>!</label>&nbsp;&nbsp;
                <a href="#/search2" style=" margin-top:2px;">Log Out</a>
                </div>

                <div class="row">
                  <div class="col-md-7 removePadding" style="margin-top:8px;">
                    <div class="pull-right">
                    <div class="cebG-btn">
                    <label style="color:#0a73bd; font-weight:normal;"><img src="images/Globe.svg" width="17px"/> CEB Global</label>
                    </div>
                    </div>
                    <div class="cebGlobal">
                        <ul>
                            <li>Australlia</li>
                            <li>China</li>
                            <li>Duetschland</li>
                            <li>India</li>
                            <li>Singapore</li>
                            <li>South Africa</li>
                            <li>United Kingdom</li>
                        </ul>
                    </div>
                  </div>

                  <div class="col-md-5 pull-right" style="padding-left:0px; margin-top:8px;">
                    <div class="cart-btn">
                        <a href="#"><span class="glyphicon glyphicon-shopping-cart"></span>My Cart</a>
                    </div>
                    &nbsp;
                    <div class="minicart">
                        <table class="table">
                            <tr>
                                <td colspan="4" style="background-color:#0A3F6B; color:#f8f8f8; font-size:16px;"><b>My Cart</b></td>
                            </tr>
                            <tr>
                                <td><img src="http://placehold.it/50x50"/></td>
                                <td><p><a href="#">CIO OnSite</a></p>
                                    <p style="color:#be1313;">2 x $9,800.00</p>
                                </td>
                                <td><center><button class="btn btn-xs product_cart_remove">X</button></center></td>
                            </tr>
                            <tr class="total_checkout_cart">
                                <td style="color:#be1313;">Total:</td>
                                <td colspan="2" style="color:#be1313;">$9,800.00</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td colspan="2"><a href="#/product_cart" class="cebBTN btn btn-md pull-right">View Cart</a></td>
                            </tr>
                        </table>
                    </div>
                  </div>
                </div>

              </div>

              </div>
          </div>

    </div>



  <ul class="nav nav-pills">
    <li><a class="active" ng-href="#/main"><span class="glyphicon glyphicon-shopping-cart" style=""></span> CEB Store</a></li>
    <li><a ng-href="#/my_account">My Account</a></li>
      <li><a ng-href="#/search">Invoice Look Up</a></li>
      <li><a ng-href="#/contactus">Contact Us</a></li>
  </ul>
</div>

<script>

$( document ).ready(function() {
  $('ul.nav-pills li a').click(function (e) {
  $('ul.nav-pills li.active').removeClass('active')
  $(this).parent('li').addClass('active')
  })
});

$(document).ready(function () {
    $(".cart-btn, .minicart").hover(

    function () {
        $(".minicart").stop().slideDown(100);
    }, function () {
        $(".minicart").stop().slideUp(100);
    });
});

$(document).ready(function () {
    $(".cebG-btn, .cebGlobal").hover(

    function () {
        $(".cebGlobal").stop().slideDown(100);
    }, function () {
        $(".cebGlobal").stop().slideUp(100);
    });
});
</script>
