<body ng-app="stockDogApp">
<div ng-include="'views/header4.html'" class="container-fluid"></div>
<div class="container">

<script>
$(".myBox").click(function() {
window.location = $(this).find("a").attr("href");
return false;
});
</script>

<br>
<div class="row">
  <div class="col-md-12">

    <div class="col-md-2">

    </div>
    <div class=" col-md-4">
      <div class="myBox">
        <center><h1 style="line-height:170px;" class="Undrln"><u style="text-decoration:none;">Assessment</u></h1></center>
        <a href="#/main"></a>
      </div>
    </div>
    <div class="col-md-4" style="display:table;">
      <div class="myBox">
        <center><h1 style="line-height:170px;" class="Undrln"><u style="text-decoration:none;">BPDS</u></h1></center>
        <a href=""></a>
      </div>
    </div>

    <div class="col-md-2">

    </div>

  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">

    <div class="col-md-2">

    </div>

    <div class="col-md-4" style="display:table;">
      <div class="myBox">
        <center><h1 style="line-height:170px;" class="Undrln"><u style="text-decoration:none;">Events</u></h1></center>
        <a href=""></a>
      </div>
    </div>

    <div class="col-md-4" style="display:table;">
      <div class="myBox">
        <center><h1 style="line-height:170px;" class="Undrln"><u style="text-decoration:none;">Training</u></h1></center>
        <a href=""></a>
      </div>
    </div>

    <div class="col-md-2">

    </div>

  </div>
</div>


</div>
</body>
