<body ng-app="stockDogApp">
<div ng-include="'views/header4.html'" class="container-fluid"></div>
<div class="container">

<script>
$(".myBox").click(function() {
window.location = $(this).find("a").attr("href");
return false;
});
</script>

<br>

<div class="row">
  <div class="col-md-12" style="background-color:#00AEEF; padding:10px 15px 10px 15px ;">
    <h2 style="display:inline-block; color:#f8f8f8; font-weight:900 !important; border-bottom:10px solid #f8f8f8; padding-bottom:5px;">Lorem Ipsum Sit Et Dolor</h2>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">

    <div class="col-md-2">

    </div>
    <div class="myBox3 col-md-4" style="margin-right:15px;">
      <div class=" removePadding">
        <img src="images/sthh1.jpg"/>
        <a href="#/main"><h3>Assessment</h3></a>
        <p style="color:#585250;" class="fw400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in erat blandit, blandit ligula quis, feugiat lacus. Sed scelerisque lectus sit amet purus faucibus, eget dictum nunc aliquet.</p>
      </div>
    </div>

    <div class="myBox3 col-md-4" style="margin-left:15px;">
      <div class="removePadding">
        <img src="images/sthh2.jpg"/>
        <a href=""><h3>BPDS</h3></a>
        <p style="color:#585250;" class="fw400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in erat blandit, blandit ligula quis, feugiat lacus. Sed scelerisque lectus sit amet purus faucibus, eget dictum nunc aliquet.</p>
      </div>
    </div>

    <div class="col-md-2">

    </div>

  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">

    <div class="col-md-2">

    </div>
    <div class="myBox3 col-md-4" style="margin-right:15px;">
      <div class=" removePadding">
        <img src="images/sthh3.jpg"/>
        <a href=""><h3>Events</h3></a>
        <p style="color:#585250;" class="fw400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in erat blandit, blandit ligula quis, feugiat lacus. Sed scelerisque lectus sit amet purus faucibus, eget dictum nunc aliquet.</p>
      </div>
    </div>
    <div class="myBox3 col-md-4" style="margin-left:15px;">
      <div class="removePadding">
        <img src="images/sthh4.jpg"/>
        <a href=""><h3>Training</h3></a>
        <p style="color:#585250;" class="fw400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in erat blandit, blandit ligula quis, feugiat lacus. Sed scelerisque lectus sit amet purus faucibus, eget dictum nunc aliquet.</p>
      </div>
    </div>

    <div class="col-md-2">

    </div>

  </div>
</div>



</div>
</body>
